{% extends 'base_layout.html' %}
{% block content %}
{% if error %}
<div class="alert alert-danger" >
        {{error}}
</div>
{% endif %}
<br>
<h2>Create new article</h2>
<form action="" method="POST" id="question">
{% csrf_token %}
<div class="form-group">
<label for="Question">Question:</label>
<input type="text" class="form-control" id="Question" name="Question"> 
</div>
<div class="tag-selector" id="tags">

</div>
<div class="choices">
<label for="Choice1">Choice 1:</label>
<input type="text" class="form-control" id="Choice1" name="choice1">

<label for="Choice2">Choice 2:</label>
<input type="text" class="form-control" id="Choice2"  name="choice2">

<label for="Choice3">Choice 3:</label>
<input type="text" class="form-control" id="Choice3"  name="choice3">
</div>
<br>
<button onclick="addoption()" type="button" class="add">+</button>

<br>
<br>
<div id="not-filled-error">

</div>
<button id="create" type="submit" class="btn btn-primary">Submit Question</button>

</form>



<script>
$(document).ready(function(){
        
        $.ajax({
                type:'GET',
                url:'http://localhost:8000/api/poll/interest/',
                success:function(data){
                        tagOptionCreator(data.results);
                        
                }
        });
})
var counter=4;
function addoption(){
        if(counter<=10){
        $(".choices").append(`
        <label for="Choice${counter}">Choice ${counter}:</label>
        <input type="text" class="form-control" id="Choice${counter}"  name="choice${counter}">
        </div>

        `);
        counter=counter+1;
        }
       
}
function tagOptionCreator(tags){
        document.getElementById('tags').innerHTML=`
        <select >
        <option value="0">Select Tag:</option>
        ${tags.map((tag)=>{
               return  `<option value="${tag.id}">${tag.title}</option>`
        }).join(" ")
        }
        </select >
        
        `
}



$( "#create" ).click(function(e) {
        e.preventDefault();
        var data={};
        data.question_text=$('input[name=Question]').val();
        data.tag=$("#tags option:selected").val();
        data.csrfmiddlewaretoken=$('input[name=csrfmiddlewaretoken]').val();
        var options =[];
        for(x=1;x<counter;x++){
                options[x-1]=$(`input[name=choice${x}]`).val();
        }
        data.options=options;
        console.log(data)
        if(true){
                $.ajax({
             type:'POST',
             url:'http://localhost:8000/api/poll/create/',
             dataType: "json",
             beforeSend: function (xhr) {
                
                xhr.setRequestHeader('Authorization', 'Bearer '+localStorage.getItem("token"));
                },
             data:data,
             success:function(data){
                shownotification();
                changepage();
             }
            });
        }
        
});



 function shownotification(){
        $('#toast-place').append(`
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
      <div class="toast-header">
       
        <strong class="mr-auto text-primary">Success</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body text-success">
        Your Question has been added.
      </div>
    </div>
        `);
    $('.toast').toast('show');
    $('.toast').on('hidden.bs.toast',e => {
        $(e.currentTarget).remove();
    });
 }


 function changepage() {
                setTimeout(function(){
                        window.location.replace("http://localhost:8000")
                }, 2000);
                } 

function allfilled(){
        var filled = true;
        for(x=1;x<counter;x++)
        {
        if($(`input[name=choice${x}]`).val()==""){
            filled=false;
            break;
        }
        }
        if(!filled) 
        {
         document.getElementById('not-filled-error').innerHTML=`
         <div class="alert alert-danger">
         Please Fill all options
        </div>
        
        `
        }
        if($("#tags option:selected").val()==0){
                document.getElementById('not-filled-error').innerHTML=`
         <div class="alert alert-danger">
         Please select a tag
        </div>
        
        `   
        filled=false;
        }
        return filled;
}


</script>


{% endblock %}