{% extends 'base_layout.html' %}
{% block content %}
{% load staticfiles%}
<br>
<h1>{{ question.question_text }}</h1>
{% if error_message %}
<div class="alert alert-danger ">
{{ error_message }}
</div>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<br>
{% for choice in question.choices.all %}

<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />

{% endfor %}
<br>

{% if question.user != request.user %}
{% if voterstatus == "voter" %}
<input type="submit" value="Already Voted" class="btn btn-secondary" disabled/>
{% else %}
<input type="submit" value="Vote" class="btn btn-primary"/>
{% endif %}
{% endif %}
</form>
{% if request.user.is_superuser or user == request.user or voterstatus == "voter" %}
<br>
<h3>Result</h3>
<br>
<div id="polls"></div>
<div id="questionList"></div>
{% endif %}
<script>
  
$( document ).ready(function() {

   
    url=window.location.href;
    id=url.slice(27,29);
    var choice=[];
    var datas=[2,3,4];
    $.ajax({
            type: "GET",
            url: '/poll/'+id+'/getdata',
            success:function(data){
                
            },
            error:function(error){
               // console.log(error);
            }
        });
        
});

</script>
<script src="{% static "polls/main.js"%}"></script>
{% endblock %}