{% extends 'base_layout.html' %}
{% block content %}
{% load staticfiles%}
<br/>
<br/>
<h1 class="title">Latest Questions</h1> 
<div id="questionList"></div>


<!-- <div class="pagination">
    <span class="step-links" id="page-buttons">
       
    </span>
</div>

<script>
    
$(document).ready(function(){
    var link='http://localhost:8000/api/poll/';
    calldata(link); 
 
});

const globalState = {
    next:"",
    previous:""

}
        
function calldata(link)
{
    $.ajax({
        type:'GET',
        url:link,
        success:function(data){
        current=getCurrentpageNumber(data.next,data.previous)
        total=Math.ceil(data.count/3);
        globalState.next=data.next;
        globalState.previous=data.previous;
        var questions=data.results;
        //shows all the given questions from API
        document.getElementById("question-list").innerHTML= `${questionlist(questions)}`;
        //manages page button 
        //buttonmanager(globalState.next,globalState.previous,current,total);

        }
    });
}

function getCurrentpageNumber(next,previous){
    if(!next && !previous)
    {
        return 1;
    }
    else if(next != null)
    {
        nextpage=next.slice(37);
        return parseInt(nextpage)-1
    }
    else if(previous != null)
    {
        if(previous.includes("page"))
        {
        previouspage=previous.slice(37)
        return parseInt(previouspage)+1
        }
        else{
            return 2;
        }
    }
    
}

function buttonmanager(next,previous,current,total){
    if(next==null && previous==null){
        document.getElementById("page-buttons").innerHTML=`
    <button class="btn btn-secondary" onclick="calldata(globalState.previous)" disabled >previous</button> 
    <span class="current">
        Page ${current} of ${total}
    </span>   
    <button class="btn btn-secondary" onclick="calldata(globalState.next)"disabled>next</button>  
    `
    }
    else if (previous==null){
        document.getElementById("page-buttons").innerHTML=`
    <button class="btn btn-secondary" onclick="calldata(globalState.previous)"disabled >previous</button>  
    <span class="current">
        Page ${current} of ${total}
    </span>   
    <button class="btn btn-primary" onclick="calldata(globalState.next)">next</button> 
    `
    }
    else if(next==null){
        document.getElementById("page-buttons").innerHTML=`
    <button class="btn btn-primary" onclick="calldata(globalState.previous)">previous</button> 
    <span class="current">
        Page ${current} of ${total}
    </span>   
    <button class="btn btn-secondary" onclick="calldata(globalState.next)"disabled>next</button>  
    `
    }
    else
    {
        document.getElementById("page-buttons").innerHTML=`
    <button class="btn btn-primary" onclick="calldata(globalState.previous)">previous</button>  
    <span class="current">
        Page ${current} of ${total}
    </span>  
    <button class="btn btn-primary" onclick="calldata(globalState.next)">next</button>     
    `   
    }
    
}

function questionlist(questions){
    return `${questions.map((question)=>{
            return `<div class="card">
            <a href="http://localhost:8000/poll/${question.id}/" style="text-decoration:none;">
            <div class="card-body"> ${question.question_text} </div>
                <div class="card-footer"><Strong>Auther: </Strong> ${question.user}  <Strong>Tag:</Strong>  ${question.tag} </div>
            </a>
            </div>
            <br/>`
        }).join("")}`
}

  
</script> -->
<script src="{% static "polls/main.js"%}"></script>
{% endblock %}